NODE_ENV=development
PORT=3000
API_VERSION=v1

# MongoDB - Use this for local MongoDB
MONGODB_URI=mongodb://localhost:27017/medconnect_db 

# Or use MongoDB Atlas (if you have it)
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/medconnect

# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER= "your mysql username"
MYSQL_PASSWORD="your mysql password"
MYSQL_DATABASE=medconnect_db

# JWT
JWT_SECRET="Our secret keys here"
JWT_EXPIRE=7d

# CORS
CORS_ORIGIN=http://localhost:19006

# Logging
LOG_LEVEL=debug